<!-- Importando o header -->
<%- include("./partials/header.ejs") %> 

<body>

    <!-- Importando o navbar -->
    <%- include("./partials/navbar.ejs") %> 

    <h1>Estilo do bootstrap</h1>

</body>

<!-- Importando o footer -->
<%- include("./partials/footer.ejs") %>